.DS_Store
.idea
.vscode
*.vcd
runs*
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
tt*/
gds_render*
gate_level_netlist*
test/*-data.txt
test/tb_demo_dump*
test/*.pnl.v
